In [15]:
my_list = [1,2,3,"AI",12.3]

for i in my_list:
    if i==12.3:
        print("exit")

    #print(i)

exit

In [30]:
for x in range(1,30,1):
    if x > 1:
        for i in range(2,x):
            if x%i == 0:
                break
        else:
                print(f"{x} is prime number")

2 is prime number
3 is prime number
5 is prime number
7 is prime number
11 is prime number
13 is prime number
17 is prime number
19 is prime number
23 is prime number
29 is prime number

In [41]:
string = "aymaneiou"
my_list = ['a','e','i','o','u']
count = 0
for x in string:
    if x in my_list:
        count +=1
print(count)

6

In [43]:
mount = 50
while mount > 0:
    mount-=5
    print(mount)

45
40
35
30
25
20
15
10
5
0

In [56]:
num = 5
fact = 1
for i in range(2 , num+1):
    fact *=i
print(fact)

120

In [ ]:
my_tuple = ("ayman","ali" , 5,2.4)
for x in my_tuple:
    print(x)

ayman
ali
5
2.4

In [72]:
n = 10
a = 0
b = 1
for i in range(n+1):
    print(a)
    temp = a
    a = b 
    b = temp + b

0
1
1
2
3
5
8
13
21
34
55

In [ ]:
num = 123
a = num // 100       
b = (num // 10) % 10 
c = num % 10
print(a+b+c)

6

In [75]:
num = 123 
result = 0
while num > 0:
    result+= num%10
    num = num//10
print(result)

6

In [77]:
string = "ayman"
if string == string[::-1]:
    print("yes")
else:
    print("no")

no

In [82]:
list1 = ["name" , "age" , "track"]
list2 = ["ayman" , 22 , "AI"]
dictioary = {}
for i in range(len(list1)):
    dictioary[list1[i]] = list2[i]

print(dictioary)

{'name': 'ayman', 'age': 22, 'track': 'AI'}