In [1]:
print("hello")

hello

In [2]:
x = 5
y = 10
print(x , y)

5 10

In [3]:
name = "ayman"
age = 22
student = True
score = 95.555
print(f"Name: {name}\nAge: {age}\nstudent: {student}\nscore:{score :.1f}")

Name: ayman
Age: 22
student: True
score:95.6

In [4]:
frutis = ["apple" , "banana" , "cherry"]
print(frutis[0:5])
frutis.append("orange")
print(frutis[0:5])
frutis.insert(1,"orange")
print(frutis[0:5])
frutis.pop(1)
print(frutis[0:5])
frutis.remove("apple")
print(frutis[0:5])
# frutis.clear()
# print(frutis[0:5])
frutis.count("orange")
print(frutis[0:1])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange']
['banana']

In [5]:
numbers = {1,2,2}
print(numbers)

{1, 2}

In [6]:
my_dict={
    "name":"ayman",
    "job":"engineer",
    "courses":["ai","embedeed","c"],
    "age":22
}
print(my_dict)

{'name': 'ayman', 'job': 'engineer', 'courses': ['ai', 'embedeed', 'c'], 'age': 22}

In [7]:
x =5
if x==5:
    print("aaaa")

aaaa

In [8]:
frutis = ["apple" , "banana" , "cherry"]
for fruit in frutis :
    print(fruit)

apple
banana
cherry

In [9]:
for i in range(1,7,2):
    print(i)

1
3
5

In [10]:
my_list = [1,2,3,"AI" , 12.3]
for i in my_list :
    print(i)

1
2
3
AI
12.3

In [11]:
def greet():
    print("hello")
    

greet()
def set():
    print("set")

def add(a = 2,b = 2):
    return a+b

add(5,10)


def devide(a,c):
    quotieon = a // c
    remander = a % c
    return quotieon , remander

result,remainde = devide(10,3)
print(f"quotient: {result} , reminder: {remainde}")

hello
quotient: 3 , reminder: 1

In [12]:
square = lambda x: x**2
print(square(5))

25

In [13]:
my_list = [1,2,3,4]
new_list = [(lambda x: x**2)(x) for x in my_list]
print(new_list)

[1, 4, 9, 16]

In [14]:
my_list = [1,2,3,4]
new_list = [x**2 for x in my_list]
print(new_list)


print(square(10))

[1, 4, 9, 16]
100

In [15]:
square_list = [map(lambda x: x**2 , my_list)]
print(square_list)

[<map object at 0x740cdc921450>]

In [16]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
    
print(fact(5))

120

In [17]:
square_list1 = list(filter(lambda x: x%2 == 0 , my_list))
print(square_list1)

[2, 4]

In [18]:
def average(my_list):
    return sum(my_list) / len(my_list)

print(average([1,2,3,4,5]))

3.0

In [19]:

def longest_word(word_list):
    longest = ""
    for word in word_list:
        if len(word) > len(longest):
            longest = word
    return longest  
print(longest_word(["apple" , "banana" , "cherry" , "watermelon"]))

watermelon

In [20]:
def index_longest(word_list):
    longest = ""
    longest_index = 0
    for word in word_list:
        if len(word) > len(longest):
            longest_index = longest_index+1
            longest = word   
    return longest , longest_index

word,longest_index = index_longest(["apple" , "banana" , "cherry" , "watermelon"])

print(word , longest_index)

watermelon 3

In [21]:
list_numbers = [1,3,4,5,6,7,2]

def prime_number(list_numbers):
    primes = []
    for num in list_numbers:
        if num > 1:
            for i in range(2, num):
                if (num % i) == 0:
                    break
            else:
                primes.append(num)
    return primes
print(prime_number(list_numbers))

[3, 5, 7, 2]

In [22]:
def freq(my_name):
    my_dec = {}

    for i in my_name:
        if i in my_dec:
            my_dec[i] +=1
        else:
            my_dec[i] =1
    return my_dec
print(freq("ayman"))

{'a': 2, 'y': 1, 'm': 1, 'n': 1}

In [23]:
def fibonacci(n):
    a, b = 0, 1
    x = 0
    for x in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [24]:
fibo_list = []

def fibo(n):
    if n == 0 or n == 1:
        return n
    else:
        x = fibo(n-1) + fibo(n-2)
        return x
    
for i in range(10):
    print(fibo(i) , end = " ")

0 1 1 2 3 5 8 13 21 34

In [25]:
def sum(*args):
    print(args)

sum("ayman",2,3,4)

('ayman', 2, 3, 4)

In [26]:
def my_func(*my_args):
    sum1 = 0
    for i in my_args:
        sum1 += i
    avag = sum1 / len(my_args)
    print(f"sum: {sum1}")
    print(f"avarage: {avag}")
    print(f"length: {len(my_args)}")

In [27]:
my_func(1,2,3,4,8)

sum: 18
avarage: 3.6
length: 5

In [28]:
class product:
    def __init__(self, name="", price=100, quantity=10):
        self.name = name
        self.price = price
        self.quantity = quantity

    def sell(self):
        if self.quantity == 0:
            print("not found")
        else:
            self.quantity -= 1

    def restock(self, quantity):
        self.quantity += quantity

In [29]:
p = product("apple", 10, 3)

p.sell()
print(p.quantity)

p.restock(5)
print(p.quantity)

2
7

In [30]:
class calculator:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b == 0:
            return "Error: Division by zero"
        return a / b
    
calc = calculator()
print(calc.add(10,5))
print(calc.subtract(10,5))
print(calc.multiply(10,5))
print(calc.divide(10,5))
print(calc.divide(10,0))

15
5
50
2.0
Error: Division by zero

In [31]:
class bank :
    def __init__(self , name ,account_name , balance , address):
        self.name = name
        self.account_name = account_name
        self.balance = balance
        self.address = address
    def deposit(self , amount):
        self.balance += amount
        print(f"Deposited: {amount}, New Balance: {self.balance}")
    def withdraw(self , amount):
        if amount > self.balance:
            print("Insufficient funds")
        else:
            self.balance -= amount
            print(f"Withdrew: {amount}, New Balance: {self.balance}")

account = bank("ayman" , "ayman123" , 1000 , "street")
account.deposit(500)
account.withdraw(2000)
account.withdraw(300)

Deposited: 500, New Balance: 1500
Insufficient funds
Withdrew: 300, New Balance: 1200

In [32]:
class Student:
    def __init__(self, name, age, courses):
        self.name = name
        self.age = age
        self.courses = courses

    def enroll(self, course):
        self.courses.append(course)

    def get_info(self):
        return f"Name: {self.name}, Age: {self.age}, Courses: {', '.join(self.courses)}"
    

student1 = Student("ayman", 22, ["AI", "Embedded Systems"])
student1.enroll("Data Science")
print(student1.get_info())

Name: ayman, Age: 22, Courses: AI, Embedded Systems, Data Science

In [33]:
class book :
    def __init__(self , titel , author):
        self.titel = titel
        self.author = author

class library :
    def __init__(self):
        self.books = []
    
    def add_book(self , book):
        self.books.append(book)
    
    def remove_book(self , book):
        self.books.remove(book)
    
    def list_books(self):
        for book in self.books:
            print(f"Title: {book.titel} , Author: {book.author}")

    
lib = library()
book1 = book("Python" , "ahmed")
book2 = book("Data Science" , "mohamed")
lib.add_book(book1)
lib.add_book(book2)
lib.list_books()
lib.remove_book(book1)
lib.list_books()

Title: Python , Author: ahmed
Title: Data Science , Author: mohamed
Title: Data Science , Author: mohamed

In [34]:
word = "python"
for leng in word:
    print(leng)

p
y
t
h
o
n

In [ ]:
while True :
    responce = input("write exit to stop :")
    if responce == 'exit':
        break

In [ ]:
list_my = [1,2,3,5,8,7]
mini = list_my[0]
max = list_my[0]
for x in list_my:
    if max < x :
        max = x
    if mini > x:
        mini = x
print(max)
print(mini)

8
1

In [ ]:
stri = "aymani"
volwe = ['a' , 'e' , 'i' , 'o' ,'u']

for cha in stri :
    if cha in volwe:
        print(cha)

a
a
i

In [ ]:
for num in range(30):
    if num > 1 :
        for i in range(2,num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29

In [ ]:
n = 10
a,b = 0,1
fibo_list = []
while(len(fibo_list) < n):
    fibo_list.append(a)
    a,b = b , a+b
print(fibo_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
balance =1000
while balance > 0:
    withdrow = int(input("please inter you need"))
    if balance >= withdrow:
        balance-=withdrow
        print("valid balance and yor balance now is :" , balance)
    else:
        print("error")
    if balance == 0:
        print("empty")
        break

valid balance and yor balance now is : 900
valid balance and yor balance now is : 700
valid balance and yor balance now is : 200
valid balance and yor balance now is : 0
empty

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [1,2,3,8,7,9,6]
list_merge = []

for i in list1:
    if i in list2:
        list_merge.append(i)
print(list_merge)

[1, 2, 3, 6]

In [ ]:
import pandas as pd
print(pd.__version__)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import sys
print(sys.executable)

/bin/python

In [1]:
import pandas as pd
print(pd.__version__)

2.3.3